{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <h1>Mentions Légales</h1>

    <h3>1. Éditeur du site</h3>
    <p>WAFSHOP<br>
    Grand-Bassam, Côte d'Ivoire<br>
    Email : contact@WAFSHOP.ci</p>

    <h3>2. Directeur de la publication</h3>
    <p>Ouattara Abdou</p>

    <h3>3. Hébergement</h3>
    <p>Hébergé par : Nom de l'hébergeur<br>
    Adresse : ...<br>
    Email : ...</p>

    <h3>4. Propriété intellectuelle</h3>
    <p>Tout le contenu du site (textes, images, graphismes, logo) est protégé par les lois en vigueur sur la propriété intellectuelle.</p>

    <h3>5. Responsabilité</h3>
    <p>WAFSHOP ne saurait être tenu responsable en cas d'erreur ou d'interruption du site.</p>
</div>
{% endblock %}
